[Unit]
Description=MosquitoMax Controller Service
After=network.target

[Service]
User=mm
Group=mm
WorkingDirectory=/home/mm/
Environment="PATH=/home/mm/.ctrlenv/bin"
ExecStart=/home/mm/.ctrlenv/bin/mmctrl --start
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target